{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Modifier un ingrédient</h1>

    {{ form_start(form) }}

    <div class="row">
        <div class="form_errors">
            {{ form_errors(form.name) }}
        </div>

        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div class="row">
        <div class="form_errors">
            {{ form_errors(form.price) }}
        </div>

        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
    </div>

    <div class="row">
        {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}