{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes ingrédients{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Mes ingrédients</h1>

        {% if ingredients is not empty %}

            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th>Numéro</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date de création</th>
                    </tr>
                </thead>

                <tbody>
                    {% for ingredient in ingredients %}
                        <tr class="table-light">
                            <td>{{ ingredient.id }}</td>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.price }}</td>
                            <td>{{ ingredient.createdAt|date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(ingredients) }}
            </div>

        {% else %}
            <h4>Il n'y a aucun ingrédient pour le moment</h4>
        {% endif %}
    </div>
{% endblock %}